<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.classaffairs.entity.Major" >
  <resultMap id="MajorResultMap" type="com.classaffairs.entity.Major" >
    <id column="major_id" property="majorId" jdbcType="BIGINT" />
    <id column="school_id" property="schoolId" jdbcType="BIGINT" />
    <result column="major_no" property="majorNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.classaffairs.entity.Major" >
    insert into major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      major_id,
      school_id,
      major_no,
      name,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{majorId,jdbcType=BIGINT},
      #{schoolId,jdbcType=BIGINT},
      #{majorNo,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR},
    </trim>
  </insert>
  <update id="update" parameterType="com.classaffairs.entity.Major" >
    update `major`
    <set >
    <if test="schoolId != null" >
        `school_id` = #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="majorNo != null" >
        `major_no` = #{majorNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where major_id = #{majorId,jdbcType=BIGINT}
  </update>
  <delete id="delete" parameterType="Long">
    delete from major where major_id = #{majorId}
  </delete>
  <select id="findById" parameterType="Long" resultMap="MajorResultMap">
    select * from major where major_id = #{majorId}
  </select>
  <select id="findMajorListBySchoolNo" parameterType="String" resultMap="MajorResultMap">
    select * from major where school_id = (select school_id from school where school_no = #{schoolNo})
  </select>
  <select id="findExecutiveClassListBySchoolNo" parameterType="String" resultMap="MajorResultMap">
    select * from major where major_no = #{majorNo}
  </select>
  <select id="getMajorByState" parameterType="INTEGER" resultMap="MajorResultMap">
    select * from major where state = #{state}
  </select>
   <select id="getAll"  resultMap="MajorResultMap">
    select * from major where 1 = 1
  </select>
   <select id="findMajorByFuzzyInformation"  resultMap="MajorResultMap">
   	select * from major where 1 = 1
   	<if test="majorNo != null" >
        `major_no` like #{majorNo,jdbcType=VARCHAR},
    </if>
    <if test="name != null" >
        `name` like #{name,jdbcType=VARCHAR},
    </if>
  </select>
   <select id="findMajorByMajorNo" parameterType="String" resultMap="MajorResultMap">
    select * from major where major_no = #{majorNo}
  </select>
  <select id="findMajorByMajorName" parameterType="String" resultMap="MajorResultMap">
    select * from major where name = #{majorName}
  </select>
</mapper>